<!DOCTYPE html>
<html>
  <head>
    <title>Bshelf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Add Pico CSS %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Wrap content in a Pico container %>
    <main class="container">
      <%# Add flash messages display (optional but good practice) %>
      <% flash.each do |type, msg| %>
        <div class="notice <%= type %>"><%= msg %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
